<html lang="en">
  {% load sass_tags %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'cloud69/style.scss' %}">
    <title>Cloud69</title>
  </head>
  <div class="container">
    <div class="row app-info-box">
        <p>Tell us about your app <br><br> We analyse your app config and deploy all the infrastructure for you</p>
    </div>
    <div class="row">
      <div class="form-wrapper">
        <form action="/cloud69/create_stack" class="new-stack-form" method="POST">
          {% csrf_token %}
          <label>The Github URL for your app<input type="text" name="github_url"></label>
          <label>The name you want to call this app<input type="text" name="app_name"></label>
          <label>Name for your database<input type="text" name="db_name"></label>
          <label>Database username<input type="text" name="db_user"></label>
          <label>Database password<input type="text" name="db_password"></label>
          <label>How many web servers do you want<input type="text" name="web_server_capacity"></label>
          <label>How much storage do you want in the database (between 5 - 1024 GB)<input type="text" name="db_allocated_storage"></span>
          <label>What instance type do you want?<select name="ec2_type">
            {% for instance in ec2_instance_types %}
              <option name="ec2_type" value={{ instance }}>{{ instance }}</option>
            {% endfor %}
          </select></label>
          <label>What database type do you want?<select name="db_type">
            {% for instance in db_instance_types %}
              <option name="db_type" value={{ instance }}>{{ instance }}</option>
            {% endfor %}
          </select></label>
          <input class="button button--create" type="submit" value="Create Stack">
        </form>
      </div>
    </div>
  </div>
</html>
